/**
 * General styling for the website
 * @author Nathan Jenkins
 * @author Wesley Miller
 * @version 5/13/2021
 */
#fixedbutton {
  position: fixed;
  bottom: 5px;
  right: 10px;
}

#clickableAwesomeFont {
  cursor: pointer;
}

#copyText:hover {
  color: #300000;
  cursor: pointer;
}
