
/* The button that is used to open the chat modal */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the chat container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the send/close button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the close button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} 

/* The format for the "Jump to Most Recent" Button */
.form-container .jump {
  background-color: rgb(95, 78, 255);
  width: 200px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  margin-left: 50%;
  padding: 0px;
  border: none;
  cursor: pointer;
}

/* For the container holding chat the messages */
.MessageList {
  overflow-y: scroll;
  height: 300px;
  width: 475px;
  background: #fff;
  border-radius: 7.5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 28px 5px rgba(0, 0, 0, 0.145);
}

/* A test format for the user's messages */
.myMessage {
  background: #3F51B5 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
  float: right;
  width: 70%;
  text-align: right;
}

/* A test format for the displaying other user messages */
.otherMessage {
  background: #e4e8fb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

/* The style for how the own user's messages appear in the chat */
.mymsg {
  float: right;
  background: #35cce5;
  border-radius: 10px;
  height: 50%;
}
    
/* The style for how another user's messages appear in the chat */
.othermsg {
  float: left;
  background: #f4f7f9;
  border-radius: 10px;
  height: 50%;
  position: relative;
  margin-bottom: 20px;
  display: block;
}

/* Contains and displays each message with this style*/
.message {
  overflow: hidden;
}

/* The format for how the user's message name will be displayed */
.myname {
  text-align: right;
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 3px 0 0;
}

/* The format for how the every other user's message name will be displayed */
.othername {
  text-align: left;
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 3px 0 0;
}

/* The container for all the messages */
.chatbox {
  overflow-y: scroll;
  width: 475px;
  height: 400px;
  scroll-snap-align: start;
}


/* 


.container {
  width: 80vw;
  margin: 30px auto;
}

.list {
  list-style: none;
  background: orange;
  padding: 10px 30px;
}

.item {
  background: red;
  color: white;;
  box-shadow: 0 2px 4px #999;
  padding: 10px 30px;
  margin: 10px 0;
}

.button {
  border: none;
  outline: none;
  background: purple;
  color: white;
  padding: 10px 30px;
}

.button:hover {
  background: orange;
}

h3 {
  margin: 15px 0;
} */