/* Rem is relative to room element <html> 16px */

.board {
  overflow: hidden;
  position: absolute;
  height: calc(100% - 56px);
  width: 100%;
  background-color: rgb(22, 129, 44);
}

.players {
  height: 84%;
  position: relative;
}

.position-number {
  margin-left: 0.75rem;
  margin-top: 0.4rem;
}

.player-cards {
  z-index: 1;
  position: absolute;
  left: -0.9rem;
  top: -0.1rem;
  opacity: 1;
  transition: opacity ease 0.75s;
  transition: top ease 0.75s;
}

.busted {
  top: 0.3rem;
  opacity: 0.25;
}

.custom-form {
  background-color: transparent !important;
  border: 0px;
  border-bottom: 1px solid !important;
  color: white;
  width: 80%;
}

.custom-form:focus {
  outline: none;
}

.card-container {
  width: 3.05rem;
  height: 3.7rem;
}

.blackjack-card-img {
  width: 4.5rem;
  box-shadow: 0 0 0.8rem 0 rgb(0 0 0 / 38%);
  position: absolute;
}

.card-img {
  width: 4.5rem;
  box-shadow: 0 0 0.8rem 0 rgb(0 0 0 / 38%);
}

.card-0 {
  transform: rotate(-7deg);
  left: 0.3rem;
  top: 0;
  position: absolute;
  transition: top ease 0.25s;
}

.card-1 {
  transform: rotate(7deg);
  left: 3.5rem;
  top: 0;
  position: absolute;
  transition: top ease 0.25s;
}

.card-0:hover {
  z-index: 2;
  top: -0.75rem;
}

.card-1:hover {
  z-index: 2;
  top: -0.75rem;
}

.player-info {
  font-weight: bold;
  box-shadow: 0 0rem 0.6em 0 rgb(0 0 0 / 25%);
  border-radius: 0.3rem;
  background: rgba(41, 40, 40, 0.8);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.player-turn {
  box-shadow: 0 0 90px rgb(255, 255, 255);
}

.player-timer {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  background: rgba(122, 112, 216, 0.8);
  height: 0.15rem;
  width: 100%;
}

.disabled {
  top: -0.75rem;
  opacity: 0.25;
}

.player-bet {
  top: 2.5rem;
  position: absolute;
  margin: 0;
  right: 0;
  left: 9rem;
  color: #fff;
}

.player-name {
  left: 9rem;
  font-size: 1.2rem;
  top: 0.8rem;
  position: absolute;
  margin: 0;
  right: 0;
  color: #d3d1d1;
  overflow: hidden;
}

.board-player {
  width: 18%;
  height: 13.5%;
  position: absolute;
}

.board-player-empty {
  border: 1px dashed rgba(212, 193, 193, 0.699);
}

.board-player-0 {
  top: 82%;
  left: 53%;
}

.board-player-1 {
  top: 82%;
  left: 29%;
}

.board-player-2 {
  top: 66%;
  left: 8%;
}

.board-player-3 {
  top: 40%;
  left: 2.2%;
}

.board-player-4 {
  top: 14%;
  left: 8%;
}

.board-player-5 {
  top: 2%;
  left: 29%;
}

.board-player-6 {
  top: 2%;
  left: 53%;
}

.board-player-7 {
  top: 14%;
  left: 74%;
}

.board-player-8 {
  top: 40%;
  left: 80.5%;
}

.board-player-9 {
  top: 66%;
  left: 75%;
}

.dashboard {
  width: 100%;
  height: calc(20% - 56px);
}

.choice-button {
  background: transparent;
  border-style: solid;
  border-width: 0.08rem;
  border-bottom-width: 0.15rem;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  height: 3.2rem;
  width: 8rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  position: relative;
}

.custom-form {
  font-weight: bold;
}

.bet-button {
  background: transparent;
  border-style: solid;
  border-width: 0.08rem;
  border-bottom-width: 0.15rem;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  height: 3.2rem;
  width: 6rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  position: relative;
}

.bet-submit-button {
  background: #007bff;
  border-style: solid;
  border-width: 0.08rem;
  border-bottom-width: 0.15rem;
  border-color: black;
  color: #fff;
  font-weight: bold;
  height: 3.2rem;
  width: 6rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  position: relative;
}

.button-symbol::before {
  border-width: 0.08rem;
  position: absolute;
  top: -0.4rem;
  right: 0.5rem;
  width: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.6rem;
  border-radius: 0.5rem;
  background: #fff;
  color: black;
}

.bet-selected {
  background-color: #007bff;
}

.hit::before {
  content: "h";
}

.stand::before {
  content: "s";
}
