/**
 * Styling for the welcome page
 * @author Nathan Jenkins
 * @author Wesley Miller
 * @version 5/13/2021
 */
.content {
    position: relative;
    color: white;
  }
  
  .content::after {
    content: "";
    background: url('./cards.jpg') center;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    filter: brightness(0.8);

  }

.buttonSpace {
    margin: 10px;
}